<a href="https://colab.research.google.com/github/CottoneEnrico/python/blob/main/es_panda_(verifica).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [4]:
movies.tail(8)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
70,Dear John,Drama,Sony,66,4.598800,29,$114.97,2010
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [5]:
movies[["Film","Genre"]]

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

In [6]:
movies[20:31]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
28,Remember Me,Drama,Summit,70,3.491250,28,$55.86,2010
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008

In [7]:
movies.iloc[[23,29,45]][["Film", "Year"]]

                      Film  Year
23      Something Borrowed  2011
29  Rachel Getting Married  2008
45              Mamma Mia!  2008

In [8]:
movies[movies["Genre"] == "Animation"]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011

In [9]:
movies[(movies["Lead Studio"] == "Disney") | (movies["Lead Studio"] == "20th Century Fox")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
41,Monte Carlo,Romance,20th Century Fox,50,1.983200,38,$39.66,2011
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007

In [10]:
movies[(movies["Year"] >= 2005) & (movies["Year"] <= 2010)]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
70,Dear John,Drama,Sony,66,4.598800,29,$114.97,2010
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [11]:
percentage = movies[(movies["Genre"] == "Drama")]["Audience score %"].mean()

In [12]:
movies["Audience score %"].subtract(10)

0     60
1     42
2     25
3     34
4     62
      ..
72    74
73    54
74    79
75    61
76    71
Name: Audience score %, Length: 77, dtype: int64

Parte fila B

In [13]:
movies = pd.read_csv("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [14]:
movies.tail(12)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
66,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,27,$102.22,2009
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,26,$161.83,2008
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
70,Dear John,Drama,Sony,66,4.598800,29,$114.97,2010
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [15]:
movies.iloc[[3,4,5,6]]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008

In [16]:
movies[10:31]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007
11,Twilight: Breaking Dawn,Romance,Independent,68,6.383364,26,$702.17,2011
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,Drama,Paramount,65,2.598205,38,$101.33,2009
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
28,Remember Me,Drama,Summit,70,3.491250,28,$55.86,2010
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008

In [17]:
movies.iloc[10:21][["Genre", "Lead Studio"]]

      Genre   Lead Studio
10  Romance   Independent
11  Romance   Independent
12  Romance        Summit
13   Comedy   Independent
14    Drama        Summit
15    Drama     Paramount
16   Comedy        Disney
17   Comedy  Warner Bros.
18   Comedy     Paramount
19    Drama     Paramount
20  Fantasy  Warner Bros.

In [18]:
movies[movies["Film"] == "When in Rome"]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
3,When in Rome,Comedy,Disney,44,0.0,15,$43.04,2010

In [19]:
movies[(movies["Film"] == "When in Rome") | (movies["Film"] == "Waitress") | (movies["Film"] == "WALL-E")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007